{
    "enable_Config": true,
    "config_Version": 4,
    "mihoyobbs_Login_ticket": "", 
    "mihoyobbs_Stuid": "", 
    "mihoyobbs_Stoken": "", 
    "mihoyobbs_Cookies": "", 
    "mihoyobbs": {
        "bbs_Global": true, 
        "bbs_Signin": true, 
        "bbs_Signin_multi": true, 
        "bbs_Signin_multi_list": [2, 5], 
        "bbs_Read_posts": true, 
        "bbs_Like_posts": true, 
        "bbs_Unlike": true, 
        "bbs_Share": true
    }, 
    "genshin_Auto_sign": true,
    "honkai3rd_Auto_sign": false
}