{
  "enable": false,
  "version": 5,
  "account": {
    "cookie": "",
    "login_ticket": "",
    "stuid": "",
    "stoken": ""
  },
  "mihoyobbs": {
    "enable": true,
    "checkin": true,
    "checkin_multi": true,
    "checkin_multi_list": [2, 5],
    "read_posts": true,
    "like_posts": true,
    "un_like": true,
    "share_post": true
  },
  "games": {
    "cn": {
      "enable": true,
      "hokai2": {
        "auto_checkin": false,
        "black_list": []
      },
      "honkai3rd": {
        "auto_checkin": false,
        "black_list": []
      },
      "tears_of_themis": {
        "auto_checkin": false,
        "black_list": []
      },
      "genshin": {
        "auto_checkin": false,
        "black_list": []
      }
    },
    "os": {
      "enable": false,
      "cookie": "",
      "genshin": {
        "auto_checkin": false,
        "black_list": []
      }
    }
  }
}